:root {
    --black: #000;
    --richblack: #0C1821;
    --blue: #1B2A41;
    --charcoal: #324A5F;
    --lavendar: #CCC9DC;
    --h1: 600;
    --h2: 500;
    --h3: 400;
    --regular: 300;
}

html {
    font-size: 16px;
    height: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--richblack);
    color: var(--lavendar);
    min-height: 100vh;
}

/* main section 1 */

.initial-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 90%; */
}

.initial-view {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}

.initial-view-left, .initial-view-right {
    width: 50%;
    padding: 20px;
}

.initial-view-left h1 {
    padding: 0;
    margin: 0;
}

.initial-view-left h3 {
    font-weight: var(--h3);
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.initial-view-left h1, .initial-view-left h3, .initial-view-left button {
    margin-top: 15px;
}

.initial-view-left button {
    font-size: 0.7rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgba(204, 201, 220, 0.3);
    outline: none;
    color: var(--lavendar);
    background-color: var(--blue);
    cursor: pointer;
    transition: 0.2s ease;
}

.initial-view-left button:hover {
    background-color: var(--charcoal);
    border: 2px solid rgba(204, 201, 220, 0.6);
}

/* app.html page */

.initial-view-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.initial-view-center button {
    font-size: 0.75rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid rgba(204, 201, 220, 0.3);
    outline: none;
    color: var(--lavendar);
    background-color: var(--blue);
    cursor: pointer;
    transition: 0.2s ease;
}

.initial-view-center button:hover {
    background-color: var(--charcoal);
    border: 2px solid rgba(204, 201, 220, 0.6);
}

.initial-view-right {
    /* height: 100%; */
}

.initial-view-right .phone {
    height: 730px;
    transform: scale(0.65);
    background: no-repeat url(../mockups/main-mockup.svg);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(-3px -3px 12px rgba(255,255,255,0.3));
}

@media only screen and (max-width: 780px) {
    .initial-view-right .phone {
        transform: scale(0.55);
        min-height: 890px;
        min-width: 420px;
    }

    .initial-view-left, .initial-view-right {
        width: 75%;
        padding: 0;
    }

    .initial-view-right {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .initial-view-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px;
    }

    .initial-view-left button {
        width: 120px;
        margin: 10px auto;
    }

    .initial-view {
        height: 100%;
    }

    /* app.html textarea*/

    .initial-view-right-app-html {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    .textarea-container {
        width: 90%;
        height: 90%;
    }

    .wrapper textarea {
        width: 90%;
        height: 100%;
        max-height: 100%;
    }

    .wrapper {
        height: 100%;
        max-height: 100%;
    }   

    footer {
        margin-top: 100px;
    }

    .initial-view-left-app-html {
        padding-bottom: 20px;
    }

    .initial-view-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .initial-view-center button {
        padding: 10px 20px;
        font-size: 0.85rem;
    }
}

