
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

::selection{
  color: var(--lavendar);
  background: var(--charcoal);
}

.wrapper{
  width: 100%;
  background: var(--lavendar);
  border-radius: 5px;
  padding: 25px 25px 30px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.06);
}

.wrapper textarea{
  width: 100%;
  resize: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  caret-color: var(--richblack);
  border: 2px solid var(--lavendar);
}

textarea::placeholder{
  color: var(--lavendar);
}


textarea:is(:focus, :valid){
  padding: 14px;
  border: 2px solid var(--charcoal);
}

textarea::-webkit-scrollbar{
  width: 0px;
}

